h1,
h2,
h3,
h4 {
    line-height: var(--title-lh);
    font-weight: bold;

    margin-bottom: 0;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

.text__24 {
    font-size: var(--text-24);
    line-height: var(--main-text-lh);
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: unset;
}
