.project-card {
    width: 690px;
    height: 390px;

    padding: 25px 25px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-pale-purple);
    color: var(--color-black);

    border-radius: 0.25rem;

    font-size: 1rem;

    &:not(.student-work-card_carousel) {
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    &:not(.student-work-card_carousel):hover {
        transform: scale(1.01);
    }
}

.project-card_small {
    width: 580px;
    height: 325px;
}

.project-card_carousel {
    margin-right: 60px;
}

.project-card__subtitle {
    font-size: 0.8em;
}

.project-card__body {
    p {
        font-weight: bold;

        &:first-child {
            margin-bottom: 0.25em;
        }
    }
}
