.registration {
    h2 {
        margin-bottom: 85px;
    }

    form {
        max-width: 665px;
    }

    .sub-img {
        bottom: -50px;
        right: -50px;
    }

    input,
    .btn {
        height: 60px;
        width: 100%;
    }

    input {
        font-size: var(--text-18);
        font-weight: 500;
        color: var(--color-black);

        &::placeholder {
            font-size: var(--text-18);
            color: var(--color-black);
        }
    }

    &:not(.bg-color-blue) {
        input {
            background-color: var(--color-pale-purple);
        }
    }
}

.inputs-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
}

.label {
    color: var(--color-black);
    line-height: 1.65;
}

.registration__imgs-container {
    width: 500px;
    height: 500px;
}

.registration-img {
    width: 500px;
    height: 500px;
}
