.media-block {
    h2 {
        margin-bottom: 35px;
    }

    .sub-img {
        position: absolute;
        bottom: -30px;
        right: -40px;
    }
}

.media-block_sub-left {
    .sub-img {
        left: -40px;
    }
}

.media-block__sub-img {
    right: -40px;
}

.media-block__text {
    max-width: 680px;
}
