.hero {
    min-height: 955px;
    background-size: cover;
}

.hero__container {
    padding-top: 200px;
}
.hero__title {
    max-width: 851px;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 536px;
    margin-bottom: 55px;
}
