:root {
    --color-green: #b0ed69;
    --color-orange: #f2c370;
    --color-white: #f7fafe;
    --color-blue: #5d68ed;
    --color-black: #18181c;
    --color-light-purple: #c1b9fc;
    --color-purple: #d38bf1;
    --color-pale-purple: #ebecfe;
    --link-size: 1rem;
    --logo-size: 1.8rem;

    --h1-size: 3.2rem;
    --h2-size: 2.4rem;
    --h3-size: 1.6rem;
    --h4-size: 1.2rem;
    --text-24: 1.2rem;
    --text-20: 1rem;
    --text-18: 0.9rem;
    --text-16: 0.8rem;

    --title-lh: 110%;
    --main-text-lh: 110%;

    --header-height: 125px;

    font-size: 20px;
}

body {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    background-color: var(--color-white);
    color: var(--color-black);
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: unset;
}

/* containers */
.container-xxl {
    max-width: calc(1430px + 1rem);
    padding-top: 85px;
    padding-bottom: 85px;
}

.container-fluid {
    padding: 0;
}

.tti-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-column-gap: 25px;
}

/* colors */
.color-green {
    color: var(--color-green);
}

.bg-color-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* images */

.sub-img {
    position: absolute;
    bottom: -30px;
    right: -40px;
}

.imgs-container {
    position: relative;
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    height: 350px;
    width: 350px;
}

.img-placeholder {
    background-color: var(--color-light-purple);
    height: 350px;
    width: 350px;
}

.custom-card {
    width: 325px;
    height: 420px;
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 20px;

    flex-shrink: 0;

    color: var(--color-black);

    display: flex;
    flex-direction: column;
}

/* buttons */
.btn {
    padding: 0 25px;
}

.btn-size_m {
    height: 50px;
}

.btn-size_lg {
    height: 60px;
}

.btn-primary {
    background-color: var(--color-green);
    color: var(--color-black);
    font-size: var(--link-size);
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
}

.btn-primary:focus,
.btn-primary:active {
    background-color: var(--color-green);
    color: var(--color-black);
}

.btn.btn:active {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
}

/* titles */
.title1,
.title2,
.title3,
.title4 {
    line-height: var(--title-lh);
    font-weight: bold;

    margin-bottom: 0;
}

.title1 {
    font-size: var(--h1-size);
}

.title2 {
    font-size: var(--h2-size);
}

.title3 {
    font-size: var(--h3-size);
}

.title4 {
    font-size: var(--h4-size);
}

.text__24 {
    font-size: var(--text-24);
    line-height: var(--main-text-lh);
}

.slider-container {
    position: relative;
}

/* header */
.header {
    height: var(--header-height);
    display: flex;
    align-items: center;

    background-color: var(--color-blue);
}

.header__container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    width: 662px;
}

.navbar-brand {
    font-size: var(--logo-size);
    font-weight: bold;
    color: var(--color-white);

    margin: 0;

    transform: translateX(-50%);
}

.navbar-brand:hover {
    color: var(--color-white);
}

.nav-link {
    color: var(--color-white);
    font-size: var(--link-size);
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-orange);
}

.nav-btn {
    transform: translateX(50%);
}

/* hero */
.hero {
    min-height: 955px;
    background-size: cover;
}

.hero__container {
    padding-top: 200px;
}
.hero__title {
    max-width: 851px;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 536px;
    margin-bottom: 55px;
}

/* perspectives */
.perspectives__title {
    margin-bottom: 35px;
}

.perspectives__text {
    max-width: 655px;
}

/* reviews */
.review__title {
    margin-bottom: 55px;
}

.review__container {
    position: relative;
}

.review__track {
    margin-bottom: 35px;
}

.review__carousel {
    display: flex;
    flex-wrap: nowrap;

    transform: translateX(-40px);
    margin-bottom: 35px;
}

.review-card {
    border: var(--color-blue) 3px solid;
    margin-right: 40px;
}

.review-card__reviewer {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;

    column-gap: 10px;

    margin-bottom: 30px;
}

.reviewer__img {
    height: 50px;
    width: 50px;
    margin-bottom: 0;

    grid-row: 1 / 3;
}

.review-card__name {
    font-size: var(--text-20);
    line-height: 110%;
    margin-top: 2px;
    margin-bottom: 5px;
}

.review-card__eval {
    font-size: var(--text-16);
    line-height: 110%;

    margin-bottom: 3px;
}

.review-card__text {
    font-size: var(--text-18);
    line-height: 115%;
    margin-bottom: auto;
}

.review-card__course {
    font-size: var(--text-18);
    line-height: 110%;
    font-weight: bold;

    margin-bottom: 0;
}

.gallery-btn {
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;

    opacity: 1;
    width: 2.5rem;
    height: 2.5rem;
}

.splide__arrow svg {
    fill: #000;
    height: unset;
    width: unset;
}

.splide__arrow--prev svg {
    transform: unset;
}

.gallery-btn_prev {
    left: 0;
    transform: translateX(-70%) translateY(-100%);
}

.gallery-btn_next {
    right: 0;
    transform: translateX(70%) translateY(-100%);
}

.arrow-bg {
    fill: var(--color-blue);
    transition: fill 0.2s ease-in-out;
}

.splide__arrow:hover:not(:disabled) {
    opacity: 1;
}

.gallery-btn:hover .arrow-bg {
    fill: var(--color-orange);
}

.dots-container {
    display: flex;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
    position: static;

    height: 20px;
}

.dot {
    border-radius: 50%;
    background-color: var(--color-light-purple);
    width: 15px;
    height: 15px;

    opacity: 1;

    transition: all 0.2s ease-in-out;
}

.dot.is-active {
    background-color: var(--color-purple);
}

.splide:not(.is-overflow) .splide__pagination {
    display: flex;
}

/* courses */
.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 25px;
    column-gap: 25px;

    padding-left: 0;

    list-style: none;
}

.course-card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    text-align: left;
    border: none;
}

.course-card:hover {
    transform: scale(1.03);
}

.courses__title {
    margin-bottom: 55px;
}

.course-card__name {
    font-size: var(--text-20);
    font-weight: bold;
    line-height: 110%;
    margin-bottom: 15px;
}

.course-card__text {
    font-size: var(--text-16);
    line-height: 110%;
    margin-bottom: 15px;
}

.course-card__img {
    width: 162px;
    height: 162px;
    margin-top: auto;
    margin-bottom: 53px;
    align-self: center;

    display: flex;
    align-items: center;
}

.course-modal__dialog {
    width: 1420px;
}

.course-modal__content {
    padding: 50px;
    min-height: 925px;

    background: var(--color-white);
}

.course-modal__header {
    border-bottom: none;
    padding: 0;
    margin-bottom: 40px;
}

.course-modal__title {
    margin-bottom: 10px;
}

.course-modal__subtitle {
    line-height: 110%;
    margin-bottom: 0;
}

.modal-body {
    display: flex;
    flex-direction: column;

    padding: 0;
}

.modal-btn-close {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.course-card-modal__text {
    font-size: var(--text-18);
    line-height: 115%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 910px;
    flex: 1;
}

.course-card-modal__text ul {
    margin-bottom: 0;
}

.course-card__gallery {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.course-gallery__title {
    line-height: 110%;
    margin-bottom: 30px;
}

.course-card__track {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.student-work-card {
    width: 690px;
    height: 390px;

    margin-right: 60px;
    padding: 25px 25px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-pale-purple);

    border-radius: 5px;
}

.student-work-card_small {
    width: 580px;
    height: 325px;
}

.course-gallery__btn_prev {
    left: 2.7rem;
    transform: translateX(-70%) translateY(-50%);
}

.course-gallery__btn_next {
    right: 2.7rem;
    transform: translateX(70%) translateY(-50%);
}

/* platform */
.platform__title {
    margin-bottom: 35px;
}

.platform__text {
    max-width: 700px;
}

.platform__sub-img {
    left: -40px;
}

/* registration */
.registration {
    height: 670px;
}

.registration__title {
    margin-bottom: 85px;
}

.registration__form {
    max-width: 665px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 50px;
}

.label {
    color: var(--color-black);
}

.registration__input,
.registration__btn {
    height: 60px;
    width: 100%;
}

.registration__input {
    font-size: var(--text-18);
    font-weight: 500;
    color: var(--color-black);
}

.registration__input::placeholder {
    font-size: var(--text-18);
    color: var(--color-black);
}

.registration__imgs-container {
    width: 500px;
    height: 500px;
}

.registration-img {
    width: 500px;
    height: 500px;
}

.registration__sub-img {
    bottom: -50px;
    right: -50px;
}

/* footer */
.footer {
    height: 200px;
    background-color: var(--color-blue);
}

.footer__container {
    padding-top: 45px;
    padding-bottom: 0;
}

.footer__brand {
    transform: none;
}

.footer__navbar {
    margin-bottom: 35px;
}

.copyright {
    color: var(--color-white);
    text-align: center;
    font-size: var(--text-16);
}

/* adaptive */
@media (min-width: 1600px) {
    .modal-dialog {
        max-width: 1420px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        font-size: 18px;
    }

    .navbar-brand {
        transform: none;
    }
    .nav-btn {
        transform: none;
    }
}

@media screen and (max-width: 1600px) {
    :root {
        font-size: 16px;
    }
}
